%html{"ng-app"=>""}
  %head
    %title Fun with Celluloid
    %script(src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js")
    /%script(src = "/remy-eventsource.js")
    %script(src = "/yaffle-eventsource.js")
    :javascript
      function messenger($scope) {
        $scope.message = "";
        var onMessage = function(e) {
          $scope.$apply(function() { $scope.message = e.data });
          console.log('Message received: ' + e.data)
        }

        var s = new EventSource('http://localhost:3000/stream');
        s.addEventListener('message', onMessage, false);
      }
  %body
    %h1 Fun with Celluloid?
    %p{"ng-controller" => "messenger"}
      Message: {{message || "waiting..."}}.

